<div class="p-grid">
  <div class="p-col-12">
    <div class="card card-w-title">
      <h1>Dashboard - {{title}}</h1>
      <p>Dashboard content here</p>
    </div>
  </div>

  <div class="p-col-12 p-md-6 p-xl-4">
    <div class="p-fluid">
      <label for="descricao">Descrição</label>
      <input id="descricao" pInputText type="text">
    </div>
  </div>

  <div class="p-col-12">
    <label>Vencimento</label>
    <input pInputText type="text" style="width: 95px">

    <label>Até</label>
    <input pInputText type="text" style="width: 95px">
  </div>
</div>
